In [2]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
import urllib.parse
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

In [4]:
data = pd.read_csv("listing.csv", index_col = "listing_id",  encoding='utf-8')
# df = df.drop(["Name", "Ticket", "Cabin"], axis = 1)
# data
# data = data.drop(["agent_address", "agent_logo", "agent_name", "agent_phone", "country_code",
#                   "description", "details_url", "thumbnail_url", "country", "category",
#                   "floor_area", "floor_plan", "furnished_state", "image_150_113_url", "image_354_255_url",
#                   "image_50_38_url", "image_645_430_url", "image_80_60_url", "image_caption", "image_url",
#                   "listing_status", "image_url", "letting_fees", "location_is_approximate", "price_modifier", 
#                   "status", "short_description", "price_change", "price_change_summary", "post_town",
#                   "displayable_address", "first_published_date", "last_published_date", "street_name"], axis = 1)

data = data[{"county", "latitude", "longitude", "new_home", "num_bathrooms",
            "num_bedrooms", "num_floors", "num_recepts", "outcode", "property_type", "price"}]
data

,new_home,price,outcode,county,num_floors,property_type,num_bathrooms,num_recepts,longitude,num_bedrooms,latitude
listing_id,,,,,,,,,,,
48797779,NaN,3000000,BS20,Bristol,0,Detached house,0,5,-2.799919,5,51.465576
50785419,NaN,2975000,TA24,Somerset,0,Farm,0,0,-3.566586,0,51.115680
43906200,NaN,2250000,TA18,Somerset,3,Detached house,3,4,-2.749436,6,50.882690
26664456,NaN,1875000,BA22,Somerset,0,Equestrian property,5,4,-2.638569,8,50.916737
48905557,NaN,1850000,TA21,Somerset,0,Detached house,5,8,-3.237185,5,51.000244
51101347,NaN,0,TA24,Somerset,0,Land,10,10,-3.491858,20,51.200190
48580285,NaN,1750000,BA6,Somerset,0,Detached house,2,3,-2.612244,6,51.109863
48627348,NaN,1750000,TA21,Somerset,0,Detached house,3,4,-3.322501,6,50.958366
50786439,NaN,1700000,TA24,Somerset,0,Farm,0,0,-3.566586,0,51.115680
51722280,NaN,1700000,BA6,Somerset,0,Detached house,4,3,-2.710659,6,51.148520
51169383,NaN,1700000,BA8,Somerset,0,Equestrian property,3,4,-2.437423,6,51.018530
49345013,NaN,1600000,TA4,Somerset,0,NaN,3,6,-3.422343,5,51.057570
49423597,NaN,1600000,TA4,Somerset,0,Land,3,6,-3.422343,5,51.057570
50310733,NaN,1600000,BS40,Bristol,0,Detached house,1,3,-2.735632,6,51.362843
51074703,NaN,1590000,TA8,Somerset,0,NaN,0,0,-3.010809,22,51.297680
49194474,NaN,1500000,TA5,Somerset,0,Detached house,4,5,-3.025071,5,51.101254
44524746,NaN,1500000,TA21,Somerset,0,Country house,4,6,-3.283862,6,50.961117
51474902,NaN,0,BA11,Somerset,0,Detached house,2,3,-2.391677,4,51.238308
48482194,NaN,1500000,BS39,Bristol,0,NaN,4,5,-2.583002,6,51.310364
51378453,NaN,1350000,BS21,North Somerset,0,Detached house,4,7,-2.856282,6,51.440426
51376568,NaN,1350000,BS21,North Somerset,0,Detached house,4,7,-2.856282,6,51.440426
50382985,NaN,1300000,BA8,Somerset,0,NaN,0,0,-2.411878,0,51.004364
48500301,NaN,1250000,BA3,Bath & N E Somerset,0,Detached house,5,1,-2.476000,4,51.233707
48578820,NaN,1250000,TA4,Somerset,0,Detached house,3,3,-3.146202,7,51.006570
50979992,NaN,1250000,BA22,Somerset,0,Detached house,7,4,-2.632368,7,50.917890
49855608,True,1250000,BS28,Somerset,0,Barn conversion,2,2,-2.815508,5,51.245600
48268088,True,1250000,BA3,Bath & N E Somerset,0,Detached house,4,2,-2.476000,4,51.233707
51045887,NaN,1250000,BA11,Somerset,0,Detached house,0,0,-2.322587,5,51.231693
51688111,NaN,1250000,BA3,Bath & N E Somerset,0,Detached house,4,2,-2.476000,4,51.233707
47221111,NaN,1200000,BA6,Somerset,0,NaN,3,3,-2.717298,5,51.145164
...,...,...,...,...,...,...,...,...,...,...,...
50202230,NaN,50000,BA3,Bath & N E Somerset,0,Land,0,0,-2.456070,0,51.250446
51308168,NaN,50000,BS27,Somerset,0,NaN,0,0,-2.771178,0,51.281364
48793891,NaN,50000,TA20,Somerset,0,NaN,1,1,-2.955623,1,50.874783
50199630,NaN,50000,BA3,Bath & N E Somerset,0,Land,0,0,-2.456070,0,51.250446
49523851,NaN,50000,BA21,Somerset,0,NaN,0,0,-2.630527,2,50.944840
46385721,NaN,48000,BA21,Somerset,0,NaN,1,1,-2.630527,1,50.944840
51438074,NaN,44995,TA24,Somerset,0,Detached bungalow,1,1,-3.396826,2,51.182040
49744564,NaN,42500,BA21,Somerset,0,Flat,1,0,-2.630527,1,50.944840
51297990,NaN,41300,BA21,Somerset,0,Flat,1,1,-2.630527,1,50.944840
51088552,NaN,40000,BS23,North Somerset,0,Mews house,0,0,-2.976430,2,51.347713
49893851,NaN,40000,BS40,Bristol,0,Land,0,0,-2.624563,0,51.300716
46489786,NaN,40000,TA11,Somerset,0,NaN,0,0,-2.727916,0,51.053990
48513076,NaN,39999,BA3,Bath & N E Somerset,0,Flat,1,1,-2.491601,4,51.283745
50683978,NaN,38500,BS24,North Somerset,0,Mobile/park home,1,1,-2.933945,2,51.275116
50967473,NaN,35000,TA2,Somerset,0,Studio,0,0,-3.101780,0,51.026638
51540610,NaN,35000,TA2,Somerset,0,Studio,0,0,-3.101780,0,51.026638
51803702,NaN,34995,TA23,Somerset,0,Detached bungalow,2,1,-3.298298,2,51.180836
51776270,NaN,30000,TA18,Somerset,0,Land,0,0,-2.838810,0,50.868584
47421055,NaN,29950,TA19,Somerset,0,Mobile/park home,1,0,-2.980532,1,50.957020
50864918,NaN,27000,BS24,North Somerset,0,Mobile/park home,1,1,-2.933945,2,51.275116
50345043,NaN,25999,TA23,Somerset,0,NaN,0,0,-3.298298,3,51.180836
49896639,NaN,25000,TA8,Somerset,0,Mobile/park home,0,0,-2.997666,2,51.230602
50938774,NaN,23995,TA24,Somerset,0,Mobile/park home,1,0,-3.396826,2,51.182040
50437581,NaN,18000,BS24,North Somerset,0,Mobile/park home,0,1,-2.933945,2,51.275116
50801269,NaN,15000,BS23,North Somerset,0,Parking/garage,0,0,-2.968799,0,51.353558
51397429,NaN,15000,BA16,NaN,0,Land,0,0,-2.732446,0,51.130367
51503837,NaN,15000,BS49,Bristol,0,Parking/garage,0,0,-2.824358,1,51.384605
50938699,NaN,14995,TA24,Somerset,0,Mobile/park home,2,0,-3.396826,2,51.182040
49942560,NaN,8250,TA1,Somerset,0,Parking/garage,0,0,-3.109598,0,51.013092
50202060,NaN,5000,BA3,Bath & N E Somerset,0,Land,0,0,-2.456070,0,51.250446

In [25]:
# Converting string values into numbers
def convert_str(dataset, col_name, value, replacement):
    dataset.loc[dataset[col_name] == value, col_name] = replacement

# Filling none values with 0s
def fill_none(dataset, col_name, replacement):
    dataset[col_name].fillna(replacement, inplace = True)

# Clean up data by filling none, converting string and get rid of 0 prices
fill_none(data, "new_home", 0)
convert_str(data, "new_home", True, 1)
data.drop(data[data.price == 0].index, inplace=True)
data.drop(data[data.property_type.isna()].index, inplace=True)

# Listing all unique counties and it's postcode
county_code = {}
outcode_list = []
county_notna = data[data["county"].notna()]

for i in county_notna["county"].unique():
    for j in county_notna[county_notna["county"] == i]["outcode"].unique():
        outcode_list.append(j)
    county_code[i] = outcode_list
    outcode_list = []

# Get all county's N/A data
county_na = data[data["county"].isna()]

# Check and assign county to data using postcode
county_na_index = county_na.index
for i in county_na_index:
    for key, value in county_code.items():
        if data.loc[[i], "outcode"].values in value:
            data.loc[[i], "county"] = key

In [11]:
# Reengineer property_type into friendly read format(int) for machine to train
dummy_property = pd.get_dummies(data["property_type"])
dummy_county = pd.get_dummies(data["county"])
dummied_data = pd.concat([data, dummy_property, dummy_county], axis = 1)

dummied_data

,num_recepts,county,latitude,num_floors,new_home,price,num_bedrooms,property_type,outcode,longitude,...,Terraced house,Town house,Villa,Bath & N E Somerset,Bristol,Devon,Dorset,North Somerset,Somerset,Wiltshire
listing_id,,,,,,,,,,,,,,,,,,,,,
48797779,5,Bristol,51.465576,0,0,3000000,5,Detached house,BS20,-2.799919,...,0,0,0,0,1,0,0,0,0,0
50785419,0,Somerset,51.115680,0,0,2975000,0,Farm,TA24,-3.566586,...,0,0,0,0,0,0,0,0,1,0
43906200,4,Somerset,50.882690,3,0,2250000,6,Detached house,TA18,-2.749436,...,0,0,0,0,0,0,0,0,1,0
26664456,4,Somerset,50.916737,0,0,1875000,8,Equestrian property,BA22,-2.638569,...,0,0,0,0,0,0,0,0,1,0
48905557,8,Somerset,51.000244,0,0,1850000,5,Detached house,TA21,-3.237185,...,0,0,0,0,0,0,0,0,1,0
48580285,3,Somerset,51.109863,0,0,1750000,6,Detached house,BA6,-2.612244,...,0,0,0,0,0,0,0,0,1,0
48627348,4,Somerset,50.958366,0,0,1750000,6,Detached house,TA21,-3.322501,...,0,0,0,0,0,0,0,0,1,0
50786439,0,Somerset,51.115680,0,0,1700000,0,Farm,TA24,-3.566586,...,0,0,0,0,0,0,0,0,1,0
51722280,3,Somerset,51.148520,0,0,1700000,6,Detached house,BA6,-2.710659,...,0,0,0,0,0,0,0,0,1,0
51169383,4,Somerset,51.018530,0,0,1700000,6,Equestrian property,BA8,-2.437423,...,0,0,0,0,0,0,0,0,1,0
49423597,6,Somerset,51.057570,0,0,1600000,5,Land,TA4,-3.422343,...,0,0,0,0,0,0,0,0,1,0
50310733,3,Bristol,51.362843,0,0,1600000,6,Detached house,BS40,-2.735632,...,0,0,0,0,1,0,0,0,0,0
49194474,5,Somerset,51.101254,0,0,1500000,5,Detached house,TA5,-3.025071,...,0,0,0,0,0,0,0,0,1,0
44524746,6,Somerset,50.961117,0,0,1500000,6,Country house,TA21,-3.283862,...,0,0,0,0,0,0,0,0,1,0
51378453,7,North Somerset,51.440426,0,0,1350000,6,Detached house,BS21,-2.856282,...,0,0,0,0,0,0,0,1,0,0
51376568,7,North Somerset,51.440426,0,0,1350000,6,Detached house,BS21,-2.856282,...,0,0,0,0,0,0,0,1,0,0
48500301,1,Bath & N E Somerset,51.233707,0,0,1250000,4,Detached house,BA3,-2.476000,...,0,0,0,1,0,0,0,0,0,0
48578820,3,Somerset,51.006570,0,0,1250000,7,Detached house,TA4,-3.146202,...,0,0,0,0,0,0,0,0,1,0
50979992,4,Somerset,50.917890,0,0,1250000,7,Detached house,BA22,-2.632368,...,0,0,0,0,0,0,0,0,1,0
49855608,2,Somerset,51.245600,0,1,1250000,5,Barn conversion,BS28,-2.815508,...,0,0,0,0,0,0,0,0,1,0
48268088,2,Bath & N E Somerset,51.233707,0,1,1250000,4,Detached house,BA3,-2.476000,...,0,0,0,1,0,0,0,0,0,0
51045887,0,Somerset,51.231693,0,0,1250000,5,Detached house,BA11,-2.322587,...,0,0,0,0,0,0,0,0,1,0
51688111,2,Bath & N E Somerset,51.233707,0,0,1250000,4,Detached house,BA3,-2.476000,...,0,0,0,1,0,0,0,0,0,0
47921915,2,North Somerset,51.443626,0,0,1200000,4,Detached house,BS21,-2.798931,...,0,0,0,0,0,0,0,1,0,0
51582762,4,Somerset,50.903250,0,0,1200000,8,Detached house,TA18,-2.784097,...,0,0,0,0,0,0,0,0,1,0
47575071,5,Somerset,51.009007,0,0,1150000,7,Semi-detached house,TA1,-3.107192,...,0,0,0,0,0,0,0,0,1,0
48404903,3,Somerset,51.196270,0,0,1150000,5,Country house,BA5,-2.585568,...,0,0,0,0,0,0,0,0,1,0
50077171,0,Bath & N E Somerset,51.284527,0,1,1150000,5,Detached house,BA2,-2.300718,...,0,0,0,1,0,0,0,0,0,0
51176907,4,Somerset,50.956510,0,1,1100000,5,Detached house,TA3,-3.124823,...,0,0,0,0,0,0,0,0,1,0
50398695,2,Somerset,51.205647,0,0,1095000,5,Barn conversion,BA5,-2.725638,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50361829,1,North Somerset,51.340137,0,0,55000,1,Mobile/park home,BS24,-2.945345,...,0,0,0,0,0,0,0,1,0,0
51060754,1,Somerset,51.054420,0,0,55000,1,Flat,BA9,-2.414962,...,0,0,0,0,0,0,0,0,1,0
49588037,1,Somerset,51.054420,0,0,55000,1,Flat,BA9,-2.414962,...,0,0,0,0,0,0,0,0,1,0
50708156,1,Somerset,51.182040,0,0,54995,2,Bungalow,TA24,-3.396826,...,0,0,0,0,0,0,0,0,1,0
50828163,0,North Somerset,51.355488,0,0,52500,0,Studio,BS23,-2.991918,...,0,0,0,0,0,0,0,1,0,0
51293482,1,Somerset,51.219185,0,0,50000,2,Flat,TA9,-2.975812,...,0,0,0,0,0,0,0,0,1,0
50202230,0,Bath & N E Somerset,51.250446,0,0,50000,0,Land,BA3,-2.456070,...,0,0,0,1,0,0,0,0,0,0
50199630,0,Bath & N E Somerset,51.250446,0,0,50000,0,Land,BA3,-2.456070,...,0,0,0,1,0,0,0,0,0,0
51438074,1,Somerset,51.182040,0,0,44995,2,Detached bungalow,TA24,-3.396826,...,0,0,0,0,0,0,0,0,1,0
49744564,0,Somerset,50.944840,0,0,42500,1,Flat,BA21,-2.630527,...,0,0,0,0,0,0,0,0,1,0
51297990,1,Somerset,50.944840,0,0,41300,1,Flat,BA21,-2.630527,...,0,0,0,0,0,0,0,0,1,0
51088552,0,North Somerset,51.347713,0,0,40000,2,Mews house,BS23,-2.976430,...,0,0,0,0,0,0,0,1,0,0
49893851,0,Bristol,51.300716,0,0,40000,0,Land,BS40,-2.624563,...,0,0,0,0,1,0,0,0,0,0
48513076,1,Bath & N E Somerset,51.283745,0,0,39999,4,Flat,BA3,-2.491601,...,0,0,0,1,0,0,0,0,0,0
50683978,1,North Somerset,51.275116,0,0,38500,2,Mobile/park home,BS24,-2.933945,...,0,0,0,0,0,0,0,1,0,0
50967473,0,Somerset,51.026638,0,0,35000,0,Studio,TA2,-3.101780,...,0,0,0,0,0,0,0,0,1,0
51540610,0,Somerset,51.026638,0,0,35000,0,Studio,TA2,-3.101780,...,0,0,0,0,0,0,0,0,1,0
51803702,1,Somerset,51.180836,0,0,34995,2,Detached bungalow,TA23,-3.298298,...,0,0,0,0,0,0,0,0,1,0
51776270,0,Somerset,50.868584,0,0,30000,0,Land,TA18,-2.838810,...,0,0,0,0,0,0,0,0,1,0
47421055,0,Somerset,50.957020,0,0,29950,1,Mobile/park home,TA19,-2.980532,...,0,0,0,0,0,0,0,0,1,0
50864918,1,North Somerset,51.275116,0,0,27000,2,Mobile/park home,BS24,-2.933945,...,0,0,0,0,0,0,0,1,0,0
49896639,0,Somerset,51.230602,0,0,25000,2,Mobile/park home,TA8,-2.997666,...,0,0,0,0,0,0,0,0,1,0
50938774,0,Somerset,51.182040,0,0,23995,2,Mobile/park home,TA24,-3.396826,...,0,0,0,0,0,0,0,0,1,0
50437581,1,North Somerset,51.275116,0,0,18000,2,Mobile/park home,BS24,-2.933945,...,0,0,0,0,0,0,0,1,0,0
50801269,0,North Somerset,51.353558,0,0,15000,0,Parking/garage,BS23,-2.968799,...,0,0,0,0,0,0,0,1,0,0
51397429,0,Somerset,51.130367,0,0,15000,0,Land,BA16,-2.732446,...,0,0,0,0,0,0,0,0,1,0
51503837,0,Bristol,51.384605,0,0,15000,1,Parking/garage,BS49,-2.824358,...,0,0,0,0,1,0,0,0,0,0
50938699,0,Somerset,51.182040,0,0,14995,2,Mobile/park home,TA24,-3.396826,...,0,0,0,0,0,0,0,0,1,0
49942560,0,Somerset,51.013092,0,0,8250,0,Parking/garage,TA1,-3.109598,...,0,0,0,0,0,0,0,0,1,0
50202060,0,Bath & N E Somerset,51.250446,0,0,5000,0,Land,BA3,-2.456070,...,0,0,0,1,0,0,0,0,0,0

In [12]:
# Finished using outcode data to assign counties into properties
# and finished reengineering property_type and county
dummied_data = dummied_data.drop(["outcode", "property_type", "county"], axis = 1)

dummied_data

,num_recepts,latitude,num_floors,new_home,price,num_bedrooms,longitude,num_bathrooms,Barn conversion,Block of flats,...,Terraced house,Town house,Villa,Bath & N E Somerset,Bristol,Devon,Dorset,North Somerset,Somerset,Wiltshire
listing_id,,,,,,,,,,,,,,,,,,,,,
48797779,5,51.465576,0,0,3000000,5,-2.799919,0,0,0,...,0,0,0,0,1,0,0,0,0,0
50785419,0,51.115680,0,0,2975000,0,-3.566586,0,0,0,...,0,0,0,0,0,0,0,0,1,0
43906200,4,50.882690,3,0,2250000,6,-2.749436,3,0,0,...,0,0,0,0,0,0,0,0,1,0
26664456,4,50.916737,0,0,1875000,8,-2.638569,5,0,0,...,0,0,0,0,0,0,0,0,1,0
48905557,8,51.000244,0,0,1850000,5,-3.237185,5,0,0,...,0,0,0,0,0,0,0,0,1,0
48580285,3,51.109863,0,0,1750000,6,-2.612244,2,0,0,...,0,0,0,0,0,0,0,0,1,0
48627348,4,50.958366,0,0,1750000,6,-3.322501,3,0,0,...,0,0,0,0,0,0,0,0,1,0
50786439,0,51.115680,0,0,1700000,0,-3.566586,0,0,0,...,0,0,0,0,0,0,0,0,1,0
51722280,3,51.148520,0,0,1700000,6,-2.710659,4,0,0,...,0,0,0,0,0,0,0,0,1,0
51169383,4,51.018530,0,0,1700000,6,-2.437423,3,0,0,...,0,0,0,0,0,0,0,0,1,0
49423597,6,51.057570,0,0,1600000,5,-3.422343,3,0,0,...,0,0,0,0,0,0,0,0,1,0
50310733,3,51.362843,0,0,1600000,6,-2.735632,1,0,0,...,0,0,0,0,1,0,0,0,0,0
49194474,5,51.101254,0,0,1500000,5,-3.025071,4,0,0,...,0,0,0,0,0,0,0,0,1,0
44524746,6,50.961117,0,0,1500000,6,-3.283862,4,0,0,...,0,0,0,0,0,0,0,0,1,0
51378453,7,51.440426,0,0,1350000,6,-2.856282,4,0,0,...,0,0,0,0,0,0,0,1,0,0
51376568,7,51.440426,0,0,1350000,6,-2.856282,4,0,0,...,0,0,0,0,0,0,0,1,0,0
48500301,1,51.233707,0,0,1250000,4,-2.476000,5,0,0,...,0,0,0,1,0,0,0,0,0,0
48578820,3,51.006570,0,0,1250000,7,-3.146202,3,0,0,...,0,0,0,0,0,0,0,0,1,0
50979992,4,50.917890,0,0,1250000,7,-2.632368,7,0,0,...,0,0,0,0,0,0,0,0,1,0
49855608,2,51.245600,0,1,1250000,5,-2.815508,2,1,0,...,0,0,0,0,0,0,0,0,1,0
48268088,2,51.233707,0,1,1250000,4,-2.476000,4,0,0,...,0,0,0,1,0,0,0,0,0,0
51045887,0,51.231693,0,0,1250000,5,-2.322587,0,0,0,...,0,0,0,0,0,0,0,0,1,0
51688111,2,51.233707,0,0,1250000,4,-2.476000,4,0,0,...,0,0,0,1,0,0,0,0,0,0
47921915,2,51.443626,0,0,1200000,4,-2.798931,2,0,0,...,0,0,0,0,0,0,0,1,0,0
51582762,4,50.903250,0,0,1200000,8,-2.784097,4,0,0,...,0,0,0,0,0,0,0,0,1,0
47575071,5,51.009007,0,0,1150000,7,-3.107192,3,0,0,...,0,0,0,0,0,0,0,0,1,0
48404903,3,51.196270,0,0,1150000,5,-2.585568,3,0,0,...,0,0,0,0,0,0,0,0,1,0
50077171,0,51.284527,0,1,1150000,5,-2.300718,0,0,0,...,0,0,0,1,0,0,0,0,0,0
51176907,4,50.956510,0,1,1100000,5,-3.124823,4,0,0,...,0,0,0,0,0,0,0,0,1,0
50398695,2,51.205647,0,0,1095000,5,-2.725638,4,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50361829,1,51.340137,0,0,55000,1,-2.945345,1,0,0,...,0,0,0,0,0,0,0,1,0,0
51060754,1,51.054420,0,0,55000,1,-2.414962,1,0,0,...,0,0,0,0,0,0,0,0,1,0
49588037,1,51.054420,0,0,55000,1,-2.414962,1,0,0,...,0,0,0,0,0,0,0,0,1,0
50708156,1,51.182040,0,0,54995,2,-3.396826,1,0,0,...,0,0,0,0,0,0,0,0,1,0
50828163,0,51.355488,0,0,52500,0,-2.991918,1,0,0,...,0,0,0,0,0,0,0,1,0,0
51293482,1,51.219185,0,0,50000,2,-2.975812,2,0,0,...,0,0,0,0,0,0,0,0,1,0
50202230,0,51.250446,0,0,50000,0,-2.456070,0,0,0,...,0,0,0,1,0,0,0,0,0,0
50199630,0,51.250446,0,0,50000,0,-2.456070,0,0,0,...,0,0,0,1,0,0,0,0,0,0
51438074,1,51.182040,0,0,44995,2,-3.396826,1,0,0,...,0,0,0,0,0,0,0,0,1,0
49744564,0,50.944840,0,0,42500,1,-2.630527,1,0,0,...,0,0,0,0,0,0,0,0,1,0
51297990,1,50.944840,0,0,41300,1,-2.630527,1,0,0,...,0,0,0,0,0,0,0,0,1,0
51088552,0,51.347713,0,0,40000,2,-2.976430,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49893851,0,51.300716,0,0,40000,0,-2.624563,0,0,0,...,0,0,0,0,1,0,0,0,0,0
48513076,1,51.283745,0,0,39999,4,-2.491601,1,0,0,...,0,0,0,1,0,0,0,0,0,0
50683978,1,51.275116,0,0,38500,2,-2.933945,1,0,0,...,0,0,0,0,0,0,0,1,0,0
50967473,0,51.026638,0,0,35000,0,-3.101780,0,0,0,...,0,0,0,0,0,0,0,0,1,0
51540610,0,51.026638,0,0,35000,0,-3.101780,0,0,0,...,0,0,0,0,0,0,0,0,1,0
51803702,1,51.180836,0,0,34995,2,-3.298298,2,0,0,...,0,0,0,0,0,0,0,0,1,0
51776270,0,50.868584,0,0,30000,0,-2.838810,0,0,0,...,0,0,0,0,0,0,0,0,1,0
47421055,0,50.957020,0,0,29950,1,-2.980532,1,0,0,...,0,0,0,0,0,0,0,0,1,0
50864918,1,51.275116,0,0,27000,2,-2.933945,1,0,0,...,0,0,0,0,0,0,0,1,0,0
49896639,0,51.230602,0,0,25000,2,-2.997666,0,0,0,...,0,0,0,0,0,0,0,0,1,0
50938774,0,51.182040,0,0,23995,2,-3.396826,1,0,0,...,0,0,0,0,0,0,0,0,1,0
50437581,1,51.275116,0,0,18000,2,-2.933945,0,0,0,...,0,0,0,0,0,0,0,1,0,0
50801269,0,51.353558,0,0,15000,0,-2.968799,0,0,0,...,0,0,0,0,0,0,0,1,0,0
51397429,0,51.130367,0,0,15000,0,-2.732446,0,0,0,...,0,0,0,0,0,0,0,0,1,0
51503837,0,51.384605,0,0,15000,1,-2.824358,0,0,0,...,0,0,0,0,1,0,0,0,0,0
50938699,0,51.182040,0,0,14995,2,-3.396826,2,0,0,...,0,0,0,0,0,0,0,0,1,0
49942560,0,51.013092,0,0,8250,0,-3.109598,0,0,0,...,0,0,0,0,0,0,0,0,1,0
50202060,0,51.250446,0,0,5000,0,-2.456070,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [13]:
dummied_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5312 entries, 48797779 to 50202060
Data columns (total 44 columns):
num_recepts               5312 non-null int64
latitude                  5312 non-null float64
num_floors                5312 non-null int64
new_home                  5312 non-null int64
price                     5312 non-null int64
num_bedrooms              5312 non-null int64
longitude                 5312 non-null float64
num_bathrooms             5312 non-null int64
Barn conversion           5312 non-null uint8
Block of flats            5312 non-null uint8
Bungalow                  5312 non-null uint8
Chalet                    5312 non-null uint8
Cottage                   5312 non-null uint8
Country house             5312 non-null uint8
Detached bungalow         5312 non-null uint8
Detached house            5312 non-null uint8
End terrace house         5312 non-null uint8
Equestrian property       5312 non-null uint8
Farm                      5312 non-null uint8
Farmhouse                 5312 non-null uint8
Flat                      5312 non-null uint8
Hotel/guest house         5312 non-null uint8
Houseboat                 5312 non-null uint8
Land                      5312 non-null uint8
Link-detached house       5312 non-null uint8
Lodge                     5312 non-null uint8
Maisonette                5312 non-null uint8
Mews house                5312 non-null uint8
Mobile/park home          5312 non-null uint8
Parking/garage            5312 non-null uint8
Semi-detached bungalow    5312 non-null uint8
Semi-detached house       5312 non-null uint8
Studio                    5312 non-null uint8
Terraced bungalow         5312 non-null uint8
Terraced house            5312 non-null uint8
Town house                5312 non-null uint8
Villa                     5312 non-null uint8
Bath & N E Somerset       5312 non-null uint8
Bristol                   5312 non-null uint8
Devon                     5312 non-null uint8
Dorset                    5312 non-null uint8
North Somerset            5312 non-null uint8
Somerset                  5312 non-null uint8
Wiltshire                 5312 non-null uint8
dtypes: float64(2), int64(6), uint8(36)
memory usage: 720.2 KB

In [14]:
# Normalisation
def normalisation(dataset, exception):
    dataNorm = ((dataset - dataset.min()) / (dataset.max() - dataset.min()))
    if exception in dataset:
        dataNorm[exception] = dataset[exception]
    return dataNorm

normalised_data = normalisation(dummied_data, "price")
normalised_data

,num_recepts,latitude,num_floors,new_home,price,num_bedrooms,longitude,num_bathrooms,Barn conversion,Block of flats,...,Terraced house,Town house,Villa,Bath & N E Somerset,Bristol,Devon,Dorset,North Somerset,Somerset,Wiltshire
listing_id,,,,,,,,,,,,,,,,,,,,,
48797779,0.454545,0.983725,0.00,0.0,3000000,0.3125,0.634835,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
50785419,0.000000,0.451363,0.00,0.0,2975000,0.0000,0.125135,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43906200,0.363636,0.096873,0.75,0.0,2250000,0.3750,0.668397,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
26664456,0.363636,0.148675,0.00,0.0,1875000,0.5000,0.742105,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48905557,0.727273,0.275729,0.00,0.0,1850000,0.3125,0.344129,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48580285,0.272727,0.442513,0.00,0.0,1750000,0.3750,0.759606,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48627348,0.363636,0.212013,0.00,0.0,1750000,0.3750,0.287409,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50786439,0.000000,0.451363,0.00,0.0,1700000,0.0000,0.125135,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51722280,0.272727,0.501329,0.00,0.0,1700000,0.3750,0.694177,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51169383,0.363636,0.303551,0.00,0.0,1700000,0.3750,0.875832,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
49423597,0.545455,0.362950,0.00,0.0,1600000,0.3125,0.221031,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50310733,0.272727,0.827418,0.00,0.0,1600000,0.3750,0.677575,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
49194474,0.454545,0.429415,0.00,0.0,1500000,0.3125,0.485148,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44524746,0.545455,0.216198,0.00,0.0,1500000,0.3750,0.313097,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51378453,0.636364,0.945459,0.00,0.0,1350000,0.3750,0.597363,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51376568,0.636364,0.945459,0.00,0.0,1350000,0.3750,0.597363,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48500301,0.090909,0.630940,0.00,0.0,1250000,0.2500,0.850185,0.5,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
48578820,0.272727,0.285354,0.00,0.0,1250000,0.4375,0.404617,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50979992,0.363636,0.150429,0.00,0.0,1250000,0.4375,0.746227,0.7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
49855608,0.181818,0.649035,0.00,1.0,1250000,0.3125,0.624471,0.2,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48268088,0.181818,0.630940,0.00,1.0,1250000,0.2500,0.850185,0.4,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
51045887,0.000000,0.627875,0.00,0.0,1250000,0.3125,0.952178,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51688111,0.181818,0.630940,0.00,0.0,1250000,0.2500,0.850185,0.4,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
47921915,0.181818,0.950328,0.00,0.0,1200000,0.2500,0.635492,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51582762,0.363636,0.128155,0.00,0.0,1200000,0.5000,0.645354,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
47575071,0.454545,0.289062,0.00,0.0,1150000,0.4375,0.430552,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48404903,0.272727,0.573980,0.00,0.0,1150000,0.3125,0.777341,0.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50077171,0.000000,0.708262,0.00,1.0,1150000,0.3125,0.966717,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
51176907,0.363636,0.209189,0.00,1.0,1100000,0.3125,0.418830,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50398695,0.181818,0.588247,0.00,0.0,1095000,0.3125,0.684219,0.4,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50361829,0.090909,0.792871,0.00,0.0,55000,0.0625,0.538152,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51060754,0.090909,0.358157,0.00,0.0,55000,0.0625,0.890764,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
49588037,0.090909,0.358157,0.00,0.0,55000,0.0625,0.890764,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50708156,0.090909,0.552329,0.00,0.0,54995,0.1250,0.237996,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50828163,0.000000,0.816228,0.00,0.0,52500,0.0000,0.507189,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51293482,0.090909,0.608845,0.00,0.0,50000,0.1250,0.517897,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50202230,0.000000,0.656408,0.00,0.0,50000,0.0000,0.863435,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
50199630,0.000000,0.656408,0.00,0.0,50000,0.0000,0.863435,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
51438074,0.090909,0.552329,0.00,0.0,44995,0.1250,0.237996,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
49744564,0.000000,0.191433,0.00,0.0,42500,0.0625,0.747451,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51297990,0.090909,0.191433,0.00,0.0,41300,0.0625,0.747451,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51088552,0.000000,0.804398,0.00,0.0,40000,0.1250,0.517486,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49893851,0.000000,0.732893,0.00,0.0,40000,0.0000,0.751416,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
48513076,0.090909,0.707072,0.00,0.0,39999,0.2500,0.839813,0.1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
50683978,0.090909,0.693943,0.00,0.0,38500,0.1250,0.545731,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
50967473,0.000000,0.315887,0.00,0.0,35000,0.0000,0.434150,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51540610,0.000000,0.315887,0.00,0.0,35000,0.0000,0.434150,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51803702,0.090909,0.550497,0.00,0.0,34995,0.1250,0.303500,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51776270,0.000000,0.075411,0.00,0.0,30000,0.0000,0.608979,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
47421055,0.000000,0.209965,0.00,0.0,29950,0.0625,0.514759,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50864918,0.090909,0.693943,0.00,0.0,27000,0.1250,0.545731,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49896639,0.000000,0.626215,0.00,0.0,25000,0.1250,0.503368,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50938774,0.000000,0.552329,0.00,0.0,23995,0.1250,0.237996,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50437581,0.090909,0.693943,0.00,0.0,18000,0.1250,0.545731,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
50801269,0.000000,0.813291,0.00,0.0,15000,0.0000,0.522559,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
51397429,0.000000,0.473710,0.00,0.0,15000,0.0000,0.679693,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
51503837,0.000000,0.860529,0.00,0.0,15000,0.0625,0.618587,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
50938699,0.000000,0.552329,0.00,0.0,14995,0.1250,0.237996,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
49942560,0.000000,0.295277,0.00,0.0,8250,0.0000,0.428952,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50202060,0.000000,0.656408,0.00,0.0,5000,0.0000,0.863435,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Saving cleaned data and normalised data into a file
dummied_data.to_csv(path_or_buf = "/Users/hoanjinan_otoko/Desktop/epam-ds-training/greenfox/hoanjinan/week-07/cleaned_data.csv")
normalised_data.to_csv(path_or_buf = "/Users/hoanjinan_otoko/Desktop/epam-ds-training/greenfox/hoanjinan/week-07/normalised_data.csv")